body
{
    background:linear-gradient(to right, rgb(0, 76, 255) 10%, rgb(0, 217, 255) 100%)
}
#red
{
float:right;
}
.container
{
font-size: 20px;
}
#sketcht
{
    color: rgb(255, 247, 0);
}
#heading
{
    border: 2px;
    border-style: dashed;
    border-radius: 10px;
    width: 20%;
    background-color: rgba(255, 235, 205, 0.256);
    cursor: pointer;
}
canvas
{
    background-color: aliceblue;
    border: 2px;
    border-radius: 5px;
    border-style: double;
    border-color: black;
    margin-top: 300px;
}